In [1]:
import pandas
import numpy

In [2]:
data = pandas.read_excel("C:\\Users\\sakar\\ML_Projesi\\VeriToplama\\home_data.xlsx")

In [3]:
df = pandas.DataFrame()
data.head()

,Ada,Aidat,Balkon Durumu,Balkon Metrekare,Balkon Sayısı,Balkon Tipi,Balkon Tipi Fransız Balkon,Balkon Tipi Kapalı Balkon,Banyo Metrekare,Banyo SayÄ±sÄ±,...,Ä°lan GÃ¼ncelleme Tarihi,Ä°lan NumarasÄ±,Ä°lan OluÅŸturma Tarihi,Ä°potek Durumu,İlan Güncelleme Tarihi,İlan Numarası,İlan Oluşturma Tarihi,İpotek Durumu,url,price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12 Aralık 2023,14386176.0,12 Aralık 2023,Yok,https://www.emlakjet.com//ilan/remax-apex-den-...,1.950.000 TL
1,NaN,NaN,Var,NaN,3,"Açık Balkon, Açık Teras",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11 Aralık 2023,14383050.0,11 Aralık 2023,Yok,https://www.emlakjet.com//ilan/yali-mahallesin...,3.100.000 TL
2,NaN,700 TL,Var,NaN,3,"Açık Balkon, Kapalı Teras",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11 Aralık 2023,14381390.0,11 Aralık 2023,Yok,https://www.emlakjet.com//ilan/karasu-akkumda-...,4.500.000 TL
3,NaN,0 TL,Var,NaN,1,Fransız Balkon,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,09 Aralık 2023,14376165.0,09 Aralık 2023,Yok,https://www.emlakjet.com//ilan/karasu-merkezde...,1.650.000 TL
4,NaN,650 TL,Var,NaN,1,Açık Balkon,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,08 Aralık 2023,14372780.0,08 Aralık 2023,Yok,https://www.emlakjet.com//ilan/site-ici-havuz-...,1.150.000 TL

In [4]:
df['Balkon_Sayisi'] = data['Balkon Sayısı']
df['Binanin_Kat_Sayisi'] = data['Binanın Kat Sayısı']
df['Esya_Durumu'] = data['Eşya Durumu']
df['Banyo_Sayisi'] = data['Banyo Sayısı']
df['Binanin_Yasi'] = data['Binanın Yaşı']
df['Isitma_Tipi'] = data['Isıtma Tipi']
df['Net_Metrekare'] = data['Net Metrekare']
df['Oda_Sayisi'] = data['Oda Sayısı']
df['Site_Durumu'] = data['Site İçerisinde']
df['Fiyat'] = data['price']

In [5]:
df.head()

,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,NaN,3.0,Boş,1,5-10,Kombi Doğalgaz,95 M2,3+1,Hayır,1.950.000 TL
1,3,3.0,Boş,2,0 (Yeni),Kombi Doğalgaz,140 M2,3+1,Hayır,3.100.000 TL
2,3,2.0,Boş,2,11-15,Kombi Doğalgaz,160 M2,3+1,Evet,4.500.000 TL
3,1,3.0,Boş,1,5-10,Kombi Doğalgaz,150 M2,3+1,Hayır,1.650.000 TL
4,1,3.0,Boş,1,3,Kombi Doğalgaz,45 M2,1+1,Evet,1.150.000 TL

In [6]:
df.fillna(0, inplace=True)

In [7]:
df['Fiyat'] = df['Fiyat'].str.replace(' TL', '')
df['Fiyat'] = df['Fiyat'].str.replace('.', '')
df['Binanin_Kat_Sayisi'] = df['Binanin_Kat_Sayisi'].replace('.', '').astype(int)

In [8]:
df.head()

,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,0,3,Boş,1,5-10,Kombi Doğalgaz,95 M2,3+1,Hayır,1950000
1,3,3,Boş,2,0 (Yeni),Kombi Doğalgaz,140 M2,3+1,Hayır,3100000
2,3,2,Boş,2,11-15,Kombi Doğalgaz,160 M2,3+1,Evet,4500000
3,1,3,Boş,1,5-10,Kombi Doğalgaz,150 M2,3+1,Hayır,1650000
4,1,3,Boş,1,3,Kombi Doğalgaz,45 M2,1+1,Evet,1150000

In [9]:
df['Fiyat'] = df.Fiyat.astype(float)
df['Net_Metrekare'] = df.Net_Metrekare.str.replace('M2','')

In [10]:
df

,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,0,3,Boş,1,5-10,Kombi Doğalgaz,95,3+1,Hayır,1950000.0
1,3,3,Boş,2,0 (Yeni),Kombi Doğalgaz,140,3+1,Hayır,3100000.0
2,3,2,Boş,2,11-15,Kombi Doğalgaz,160,3+1,Evet,4500000.0
3,1,3,Boş,1,5-10,Kombi Doğalgaz,150,3+1,Hayır,1650000.0
4,1,3,Boş,1,3,Kombi Doğalgaz,45,1+1,Evet,1150000.0
...,...,...,...,...,...,...,...,...,...,...
865,1,3,0,1,4,Kombi Doğalgaz,80,2+1,Hayır,1600000.0
866,1,3,0,1,4,Kombi Doğalgaz,80,2+1,Hayır,1600000.0
867,1,4,0,1,5-10,Kombi Doğalgaz,80,2+1,Hayır,1500000.0
868,1,3,0,1,5-10,Kombi Doğalgaz,80,2+1,Hayır,1450000.0
869,1,3,0,1,3,Kombi Doğalgaz,80,2+1,Hayır,1800000.0

In [11]:
df.Balkon_Sayisi.value_counts()

Balkon_Sayisi
0      415
1      178
2      153
3      123
4 +      1
Name: count, dtype: int64

In [12]:
df.loc[df.Balkon_Sayisi == "4 +","Balkon_Sayisi"] = 4
df.Binanin_Kat_Sayisi.value_counts()

Binanin_Kat_Sayisi
3     679
2     107
4      41
1      20
5      17
0       4
7       1
47      1
Name: count, dtype: int64

In [13]:
df.loc[df.Binanin_Kat_Sayisi == 0,"Binanin_Kat_Sayisi"] = 1

In [14]:
df.Binanin_Kat_Sayisi.value_counts()

Binanin_Kat_Sayisi
3     679
2     107
4      41
1      24
5      17
7       1
47      1
Name: count, dtype: int64

In [15]:
df.Esya_Durumu.value_counts()

Esya_Durumu
Boş       622
0         205
Eşyalı     43
Name: count, dtype: int64

In [16]:
df.loc[df.Esya_Durumu == 0,"Esya_Durumu"] = "Boş"

In [17]:
df.Esya_Durumu.value_counts()

Esya_Durumu
Boş       827
Eşyalı     43
Name: count, dtype: int64

In [18]:
df.Banyo_Sayisi.value_counts()

Banyo_Sayisi
1      350
3      276
2      191
4       40
Yok      5
0        4
5        4
Name: count, dtype: int64

In [19]:
df.loc[df.Banyo_Sayisi == "Yok","Banyo_Sayisi"] = 0
df.loc[df.Banyo_Sayisi == "6+","Banyo_Sayisi"] = 6

In [20]:
df.Banyo_Sayisi.value_counts()

Banyo_Sayisi
1    350
3    276
2    191
4     40
0      9
5      4
Name: count, dtype: int64

In [21]:
df.Binanin_Yasi.value_counts()

Binanin_Yasi
0 (Yeni)       461
5-10           115
4               95
1               51
3               41
21 Ve Üzeri     38
11-15           32
16-20           17
2               16
0                4
Name: count, dtype: int64

In [22]:
df.loc[df.Binanin_Yasi == "1","Binanin_Yasi"] = "0-5"
df.loc[df.Binanin_Yasi == "2","Binanin_Yasi"] = "0-5"
df.loc[df.Binanin_Yasi == "3","Binanin_Yasi"] = "0-5"
df.loc[df.Binanin_Yasi == "4","Binanin_Yasi"] = "0-5"
df.loc[df.Binanin_Yasi == "0 (Yeni)","Binanin_Yasi"] = "0-5"
df.loc[df.Binanin_Yasi == 0,"Binanin_Yasi"] = "0-5"

In [23]:
df.Binanin_Yasi.value_counts()

Binanin_Yasi
0-5            668
5-10           115
21 Ve Üzeri     38
11-15           32
16-20           17
Name: count, dtype: int64

In [24]:
df.Isitma_Tipi.value_counts()

Isitma_Tipi
Kombi Doğalgaz         603
Yerden Isıtma          230
Sobalı                   9
Doğalgaz Sobalı          6
0                        4
Isıtma Yok               4
Merkezi Doğalgaz         4
Kat Kaloriferi           4
Şömine                   2
Klimalı                  2
Elektrikli Radyatör      1
Merkezi (Pay Ölçer)      1
Name: count, dtype: int64

In [25]:
df.loc[df.Isitma_Tipi == 0,"Isitma_Tipi"] = "Isıtma Yok"

In [26]:
df.Isitma_Tipi.value_counts()

Isitma_Tipi
Kombi Doğalgaz         603
Yerden Isıtma          230
Sobalı                   9
Isıtma Yok               8
Doğalgaz Sobalı          6
Merkezi Doğalgaz         4
Kat Kaloriferi           4
Şömine                   2
Klimalı                  2
Elektrikli Radyatör      1
Merkezi (Pay Ölçer)      1
Name: count, dtype: int64

In [27]:
df.Oda_Sayisi.value_counts()

Oda_Sayisi
3+1       385
2+1       225
4+1       152
1+1        45
5+1        30
6+1         7
6+2         5
1 Oda       5
0           4
4+2         3
5+2         2
Stüdyo      2
5+3         1
3.5+1       1
8+1         1
7+2         1
3+2         1
Name: count, dtype: int64

In [28]:
df.loc[df.Oda_Sayisi == 0,"Oda_Sayisi"] = 1
df.loc[df.Oda_Sayisi == "3.5+1","Oda_Sayisi"] = 4
df.loc[df.Oda_Sayisi == "3+1","Oda_Sayisi"] = 4
df.loc[df.Oda_Sayisi == "2+1","Oda_Sayisi"] = 3
df.loc[df.Oda_Sayisi == "4+1","Oda_Sayisi"] = 5
df.loc[df.Oda_Sayisi == "1+1","Oda_Sayisi"] = 2
df.loc[df.Oda_Sayisi == "5+1","Oda_Sayisi"] = 6
df.loc[df.Oda_Sayisi == "6+1","Oda_Sayisi"] = 7
df.loc[df.Oda_Sayisi == "6+2","Oda_Sayisi"] = 8
df.loc[df.Oda_Sayisi == "1 Oda","Oda_Sayisi"] = 1
df.loc[df.Oda_Sayisi == "5+2","Oda_Sayisi"] = 7
df.loc[df.Oda_Sayisi == "4+2","Oda_Sayisi"] = 6
df.loc[df.Oda_Sayisi == "7+2","Oda_Sayisi"] = 9
df.loc[df.Oda_Sayisi == "3+2","Oda_Sayisi"] = 5
df.loc[df.Oda_Sayisi == "5+3","Oda_Sayisi"] = 8
df.loc[df.Oda_Sayisi == "8+1","Oda_Sayisi"] = 9
df.loc[df.Oda_Sayisi == "4+0","Oda_Sayisi"] = 4
df.loc[df.Oda_Sayisi == "Stüdyo","Oda_Sayisi"] = 1

In [29]:
df.Oda_Sayisi.value_counts()

Oda_Sayisi
4    386
3    225
5    153
2     45
6     33
1     11
7      9
8      6
9      2
Name: count, dtype: int64

In [30]:
df.Site_Durumu.value_counts()

Site_Durumu
Hayır    759
Evet     107
0          4
Name: count, dtype: int64

In [31]:
df.loc[df.Site_Durumu == 0,"Site_Durumu"] = "Hayır"

In [32]:
df.Site_Durumu.value_counts()

Site_Durumu
Hayır    763
Evet     107
Name: count, dtype: int64

In [33]:
df

,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,0,3,Boş,1,5-10,Kombi Doğalgaz,95,4,Hayır,1950000.0
1,3,3,Boş,2,0-5,Kombi Doğalgaz,140,4,Hayır,3100000.0
2,3,2,Boş,2,11-15,Kombi Doğalgaz,160,4,Evet,4500000.0
3,1,3,Boş,1,5-10,Kombi Doğalgaz,150,4,Hayır,1650000.0
4,1,3,Boş,1,0-5,Kombi Doğalgaz,45,2,Evet,1150000.0
...,...,...,...,...,...,...,...,...,...,...
865,1,3,Boş,1,0-5,Kombi Doğalgaz,80,3,Hayır,1600000.0
866,1,3,Boş,1,0-5,Kombi Doğalgaz,80,3,Hayır,1600000.0
867,1,4,Boş,1,5-10,Kombi Doğalgaz,80,3,Hayır,1500000.0
868,1,3,Boş,1,5-10,Kombi Doğalgaz,80,3,Hayır,1450000.0
869,1,3,Boş,1,0-5,Kombi Doğalgaz,80,3,Hayır,1800000.0

In [34]:
df.to_excel("new_home_data.xlsx")

In [35]:
df = pandas.read_excel("C:\\Users\\sakar\\ML_Projesi\\VeriToplama\\new_home_data.xlsx")

In [36]:
df

,Unnamed: 0,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,0,0,3,Boş,1,5-10,Kombi Doğalgaz,95.0,4,Hayır,1950000
1,1,3,3,Boş,2,0-5,Kombi Doğalgaz,140.0,4,Hayır,3100000
2,2,3,2,Boş,2,11-15,Kombi Doğalgaz,160.0,4,Evet,4500000
3,3,1,3,Boş,1,5-10,Kombi Doğalgaz,150.0,4,Hayır,1650000
4,4,1,3,Boş,1,0-5,Kombi Doğalgaz,45.0,2,Evet,1150000
...,...,...,...,...,...,...,...,...,...,...,...
865,865,1,3,Boş,1,0-5,Kombi Doğalgaz,80.0,3,Hayır,1600000
866,866,1,3,Boş,1,0-5,Kombi Doğalgaz,80.0,3,Hayır,1600000
867,867,1,4,Boş,1,5-10,Kombi Doğalgaz,80.0,3,Hayır,1500000
868,868,1,3,Boş,1,5-10,Kombi Doğalgaz,80.0,3,Hayır,1450000
869,869,1,3,Boş,1,0-5,Kombi Doğalgaz,80.0,3,Hayır,1800000

In [37]:
list_esya = df["Esya_Durumu"].unique()

In [38]:
list_esya.sort()
list_esya = list(list_esya)
esya_index=list_esya.index("Eşyalı")
esya_index

1

In [39]:
df_esya_durumu = pandas.DataFrame()
df_esya_durumu["Esya_Durumu"] = list_esya
df_esya_durumu

  Esya_Durumu
0         Boş
1      Eşyalı

In [40]:
df_esya_durumu.to_excel("esya_durumu.xlsx",index=False)

In [41]:
list_bina_yasi = df["Binanin_Yasi"].unique()

In [42]:
list_bina_yasi.sort()
list_bina_yasi = list(list_bina_yasi)
bina_yasi_index=list_bina_yasi.index("5-10")
bina_yasi_index

4

In [43]:
df_bina_yasi = pandas.DataFrame()
df_bina_yasi["Binanin_Yasi"] = list_bina_yasi
df_bina_yasi

  Binanin_Yasi
0          0-5
1        11-15
2        16-20
3  21 Ve Üzeri
4         5-10

In [44]:
df_bina_yasi.to_excel("bina_yasi.xlsx",index=False)

In [45]:
list_isitma_tipi = df["Isitma_Tipi"].unique()
list_isitma_tipi.sort()
list_isitma_tipi = list(list_isitma_tipi)
isitma_tipi_index=list_isitma_tipi.index("Kombi Doğalgaz")
isitma_tipi_index

5

In [46]:
df_isitma_tipi = pandas.DataFrame()
df_isitma_tipi["Isitma_Tipi"] = list_isitma_tipi
df_isitma_tipi

            Isitma_Tipi
0       Doğalgaz Sobalı
1   Elektrikli Radyatör
2            Isıtma Yok
3        Kat Kaloriferi
4               Klimalı
5        Kombi Doğalgaz
6   Merkezi (Pay Ölçer)
7      Merkezi Doğalgaz
8                Sobalı
9         Yerden Isıtma
10               Şömine

In [47]:
df_isitma_tipi.to_excel("isitma_tipi.xlsx",index=False)

In [48]:
list_site_durumu = df["Site_Durumu"].unique()
list_site_durumu.sort()
list_site_durumu = list(list_site_durumu)
site_durumu_index=list_site_durumu.index("Evet")
site_durumu_index

0

In [49]:
df_site_durumu = pandas.DataFrame()
df_site_durumu["Site_Durumu"] = list_site_durumu
df_site_durumu

  Site_Durumu
0        Evet
1       Hayır

In [50]:
df_site_durumu.to_excel("site_durumu.xlsx",index=False)

In [51]:
import matplotlib.pyplot as plt
import numpy
import pandas

In [52]:
dataset = pandas.read_excel("C:\\Users\\sakar\\ML_Projesi\\VeriToplama\\new_home_data.xlsx")
dataset.head()

,Unnamed: 0,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,0,0,3,Boş,1,5-10,Kombi Doğalgaz,95.0,4,Hayır,1950000
1,1,3,3,Boş,2,0-5,Kombi Doğalgaz,140.0,4,Hayır,3100000
2,2,3,2,Boş,2,11-15,Kombi Doğalgaz,160.0,4,Evet,4500000
3,3,1,3,Boş,1,5-10,Kombi Doğalgaz,150.0,4,Hayır,1650000
4,4,1,3,Boş,1,0-5,Kombi Doğalgaz,45.0,2,Evet,1150000

In [53]:
dataset.drop("Unnamed: 0",axis = 1,inplace = True)
dataset

,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,0,3,Boş,1,5-10,Kombi Doğalgaz,95.0,4,Hayır,1950000
1,3,3,Boş,2,0-5,Kombi Doğalgaz,140.0,4,Hayır,3100000
2,3,2,Boş,2,11-15,Kombi Doğalgaz,160.0,4,Evet,4500000
3,1,3,Boş,1,5-10,Kombi Doğalgaz,150.0,4,Hayır,1650000
4,1,3,Boş,1,0-5,Kombi Doğalgaz,45.0,2,Evet,1150000
...,...,...,...,...,...,...,...,...,...,...
865,1,3,Boş,1,0-5,Kombi Doğalgaz,80.0,3,Hayır,1600000
866,1,3,Boş,1,0-5,Kombi Doğalgaz,80.0,3,Hayır,1600000
867,1,4,Boş,1,5-10,Kombi Doğalgaz,80.0,3,Hayır,1500000
868,1,3,Boş,1,5-10,Kombi Doğalgaz,80.0,3,Hayır,1450000
869,1,3,Boş,1,0-5,Kombi Doğalgaz,80.0,3,Hayır,1800000

In [54]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
dataset.head()

,Balkon_Sayisi,Binanin_Kat_Sayisi,Esya_Durumu,Banyo_Sayisi,Binanin_Yasi,Isitma_Tipi,Net_Metrekare,Oda_Sayisi,Site_Durumu,Fiyat
0,0,3,Boş,1,5-10,Kombi Doğalgaz,95.0,4,Hayır,1950000
1,3,3,Boş,2,0-5,Kombi Doğalgaz,140.0,4,Hayır,3100000
2,3,2,Boş,2,11-15,Kombi Doğalgaz,160.0,4,Evet,4500000
3,1,3,Boş,1,5-10,Kombi Doğalgaz,150.0,4,Hayır,1650000
4,1,3,Boş,1,0-5,Kombi Doğalgaz,45.0,2,Evet,1150000

In [55]:
dataset["Esya_Durumu"] = le.fit_transform(dataset.Esya_Durumu)
dataset["Binanin_Yasi"] = le.fit_transform(dataset.Binanin_Yasi)
dataset["Isitma_Tipi"] = le.fit_transform(dataset.Isitma_Tipi)
dataset["Site_Durumu"] = le.fit_transform(dataset.Site_Durumu)

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Balkon_Sayisi       870 non-null    int64
 1   Binanin_Kat_Sayisi  870 non-null    int64
 2   Esya_Durumu         870 non-null    int32
 3   Banyo_Sayisi        870 non-null    int64
 4   Binanin_Yasi        870 non-null    int32
 5   Isitma_Tipi         870 non-null    int32
 6   Net_Metrekare       867 non-null    float64
 7   Oda_Sayisi          870 non-null    int64
 8   Site_Durumu         870 non-null    int32
 9   Fiyat               870 non-null    int64
dtypes: float64(1), int32(4), int64(5)
memory usage: 54.5 KB

In [56]:
dataset.to_excel("MLProject_3.xlsx")